alias aa='open ~/.aliases && . ~/.aliases'
alias emacs='open -a /usr/local/Cellar/emacs/24.3/Emacs.app $1'
alias ec='/usr/local/Cellar/emacs/24.3/bin/emacsclient'
alias python3='/usr/local/Cellar/python3/3.3.3/bin/python3'
alias sml='/usr/local/smlnj-110.75/bin/sml'
alias org='open ~/Dropbox/org/todo.org'
alias orgcheck='open ~/Dropbox/org/checklists.org'
alias orgflag='open ~/Dropbox/org/flagged.org'
alias orgsomeday='open ~/Dropbox/org/someday.org'
alias veewee='bundle exec veewee'
alias pylab='ipython -pylab'
