{
    "parser": "babel-eslint",
    "parserOptions": {"ecmaFeatures": {"jsx": true, "esversion": 6}},
    "env": {"browser": true, "node": true},
    "plugins": [
        "react",
        "flowtype"
    ],
    "extends": "airbnb",
    "rules": {
        "comma-dangle": ["error", "always-multiline"],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-indent": [2, 2]
    },
    "settings": {
        "flowtype": {
            "onlyFilesWithFlowAnnotation": true
        }
    }
}
