[user]
	name = Maggie Stiggleman
	email = mstiggleman@gmail.com

[color]
	ui = auto
	branch = auto
	status = auto
	diff = auto
[core]
	editor = emacs
	autocrlf = input
[alias]
	last = log -1 HEAD
	lg = log --oneline --decorate --all --graph -30
